<div class="footer">
    <nav class="nav_bar">
        <ul>
            <li class="copyright">
                
            </li>
            {% if site.statement %}
            <li>
                {{ site.statement }}
            </li>
            {% endif %}
    </nav>
    </ul>
    <div style="object-position:center;margin:auto;">
    <script src="https://www.hackthebox.eu/badge/279144"></script>
    </div>
    <div style="object-position:center;margin:auto;">
    <script src="https://tryhackme.com/badge/38736"></script>
    </div>
</div>